    <br>
    <div style="font-family: Calibri, sans-serif; font-size: 12pt;color:darkgray; text-align: left;">
        <hr style="color:darkgray;"/>
        <table CELLSPACING=0 CELLPADDING=0 >
            <tr>
                <td style="height:15px;">
                <span style="font-family: Calibri, sans-serif; font-size: 16pt; text-align: left; color:black"><span class="ecxApple-style-span">#NAME# - #POSICAO#</span></span>
                <br />
                <span style="font-family: Calibri; color:black; text-align: left;"><font size="1" style="letter-spacing:0px;font-size: 1px;"><span style="font-size:10pt;font-family:Wingdings;color:black">(</span><font size="1" style="letter-spacing:0px;font-size: 12px;"> #TELEFONE1# |<span style="font-weight:bold;"> Cel/WhatsApp:</span> #TELEFONE2# </font> </font> <span style="font-weight:bold; font-size: 12px;"> | CRECI: #CRECI#</span></span>
                </td>
            </tr>
          
        </table>

        <table CELLSPACING=0 CELLPADDING=0 style="">
            <tr>
                <td>
                    <a target="_blank" href="https://www.imobiliarianasaude.com.br/"><img style="float: left; height: 63px; width: 92px;" src="https://i.imgur.com/ehSIdci.jpeg" title="www.takaki.com.br" alt="Imobiliaria Takaki" /></a>
                </td>
                      <td>
                        <span style="font-size: 46px;height:50px;margin-top:0px;font:'News Cycle', sans-serif;font-weight:bold; padding:0px;color: #6b625e">TAKAKI</span><br />
                        <span style="color:#6b625e; padding-top:-10px;">Consultoria de imóveis</span>
                          <br />

                </td>

            </tr>
            <tr>
                <td>
<a target="_blank" href="https://www.imobiliarianasaude.com.br/" style="margin-top:0px;padding-top:0px; float:left;margin-left:5px;text-decoration:underline;  padding-right:0px; margin-right:0px;">Takaki.com.br</a><span style="margin-left:16px; padding-left:0px;">
    </span>

                </td>
                <td>CRECI - 1.764 J</td>
            </tr>


            
        </table>
        <table>
            <tr>
                <td>
                    <p><span style="font-size:14px; margin-top:2px;color:black; padding-top:0px;">Rua Paracatu no. 852 <span style="margin-left:2px;margin-right:1px;">-</span> Saude <span style="margin-left:3px;margin-right:2px;">-</span> São Paulo - <span style="letter-spacing:1px;font-size:15px; margin-left:2px; font-style:italic; color:gray;"> Tradição desde 1977</span></span></span></p>
                </td>
            </tr>
            <tr>
                <td style="height:15px;">
                    <a target="_blank" style="text-decoration:none;" href="https://www.facebook.com/imobiliariatakaki"><img height="14" width="14" src="https://upload.wikimedia.org/wikipedia/commons/archive/1/1b/20140221023021%21Facebook_icon.svg" /> </a>

                    <a target="_blank" style="text-decoration:none;" href="https://www.instagram.com/imobiliariatakaki"><img height="14" width="14" src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" /> @imobiliariatakaki</a>
                </td>
            </tr>
        </table>
</div>
<br style="clear:both;"/>
